@import 'colors';
@import 'media-queries';
@import 'fonts';

$image-mask: rgba(0, 0, 0, 0.3);

.portfolio {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	align-items: center;
	scroll-snap-align: start;

	h1 {
		font-size: 2.5rem;
		color: $dark;
		font-family: $accent-font;
		font-weight: 200;
		margin: 1.5rem;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		width: 100%;
		height: 100%;

		@include desktop {
			flex-direction: row;
		}
	}

	&-card {
		background-color: $grey;
		background-image: linear-gradient($image-mask, $image-mask), url(../img/building6.2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px;
		height: 100%;
		width: 100%;
		margin-bottom: 10px;

		@include tablet {
			max-width: 80%;
		}

		@include desktop {
			margin: 0 10px;
			height: 100%;
			justify-content: flex-start;
		}

		h2 {
			color: $light;
			font-family: $accent-font;
			font-weight: 200;
			margin-bottom: 1rem;
			font-size: 2rem;

			@include desktop {
				font-size: 2.5rem;
				margin: 7rem 0 1rem 0;
			}
		}

		&-button {
			color: $light;
			border: 1px solid $light;
			padding: 0.5rem 1rem;
			cursor: pointer;
		}
	}

	&-card:first-child {
		background-image: linear-gradient($image-mask, $image-mask), url(../img/projection1.2.jpg);
	}

	&-card:last-child {
		background-image: linear-gradient($image-mask, $image-mask), url(../img/interior2.2.jpg);
	}
}
