@import 'colors';
@import 'media-queries';
@import 'fonts';

.portfolio {
	height: 100vh;
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	align-items: center;

	h1 {
		font-size: 2.5rem;
		color: $dark;
		font-family: $accent-font;
		font-weight: 200;
		margin: 2rem;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		width: 100%;

		@include desktop {
			flex-direction: row;
			height: 100%;
		}
	}

	&-card {
		background-color: $grey;
		background-image: url(../img/building6.2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px;
		height: 300px;
		width: 100%;
		margin-bottom: 20px;

		@include desktop {
			margin: 0 20px;
			height: 100%;
		}

		h2 {
			color: $light;
			font-family: $accent-font;
			font-weight: 200;
			font-size: 2.5rem;
		}

		&-button {
			color: $light;
			border: 1px solid $light;
			padding: 0.5rem 1rem;
			cursor: pointer;
		}
	}

	&-card:first-child {
		background-image: url(../img/projection1.2.jpg);
	}

	&-card:last-child {
		background-image: url(../img/interior2.2.jpg);
	}
}
