.nav {
  background: transparent;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: -80px;
  z-index: 10;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  padding: 0 24px;
}

.nav-container .logo {
  font-size: 1.5rem;
  margin-left: 24px;
  cursor: pointer;
  font-family: "Cinzel", serif;
  color: #fff;
  text-decoration: none;
}

.nav-container .mobile-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

@media (min-width: 768px) {
  .nav-container .mobile-icon {
    visibility: hidden;
    width: 120px;
  }
}

.nav-menu {
  display: none;
}

@media (min-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
}

.nav-menu .nav-item {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  cursor: pointer;
  padding: 1rem;
  margin: 0 0.5rem;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav-menu .nav-item .nav-link:hover {
  background: rgba(139, 152, 167, 0.25);
}

.sidebar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
}

.sidebar .close-icon {
  color: #303131;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar .sidebar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sidebar .sidebar-wrapper .sidebar-link {
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
}

.sidebar-transition-enter {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.sidebar-transition-enter-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-transition-exit {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.sidebar-transition-exit-active {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home {
  background-color: #8b98a7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/interior1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/interior1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content h1 {
  font-family: "Cinzel", serif;
  color: #fff;
  font-size: 2.7rem;
  letter-spacing: 7px;
  font-weight: 200;
  text-align: center;
}

@media (min-width: 768px) {
  .home-content h1 {
    font-size: 4rem;
  }
}

.home-content p {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 7px;
  font-weight: 200;
  text-align: center;
}

@media (min-width: 768px) {
  .home-content p {
    font-size: 1.7rem;
  }
}

.home-content-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 2rem 0;
  text-align: center;
}

.home-content-button:hover {
  color: #303131;
  background-color: #fff;
}

@media (min-width: 768px) {
  .home-content-button {
    padding: 1rem 2rem;
  }
}

.portfolio {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.portfolio h1 {
  font-size: 2.5rem;
  color: #303131;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin: 1.5rem;
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

@media (min-width: 1000px) {
  .portfolio-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio-card {
  background-color: #8b98a7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/building6.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/building6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .portfolio-card {
    margin: 0 10px;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.portfolio-card h2 {
  color: #fff;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .portfolio-card h2 {
    font-size: 2.5rem;
    margin: 7rem 0 1rem 0;
  }
}

.portfolio-card-button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolio-card-button:hover {
  color: #303131;
  background-color: #fff;
}

.portfolio-card:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/projection1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/projection1.jpg);
}

.portfolio-card:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/interior2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/interior2.jpg);
}

.info-section {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  margin-top: 1rem;
}

@media (min-width: 1000px) {
  .info-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.info-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
}

@media (min-width: 1000px) {
  .info-section-content {
    padding: 50px 100px;
  }
}

.info-section-content h1 {
  font-size: 2.5rem;
  color: #303131;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin: 1.5rem;
}

.info-section-content p {
  color: #303131;
  text-align: center;
  line-height: 2rem;
}

.info-section-content-button {
  color: #303131;
  border: 1px solid #303131;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 2rem;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.info-section-content-button:hover {
  background-color: #303131;
  color: #fff;
}

.info-section-image {
  background-color: #8b98a7;
  background-image: url(../img/structure4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  margin-top: 1rem;
}

.contact-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
}

@media (min-width: 1000px) {
  .contact-section-content {
    padding: 50px 100px;
  }
}

.contact-section-content h1 {
  font-size: 2.5rem;
  color: #303131;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin: 1.5rem;
}

.contact-section-content p {
  color: #303131;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.contact-section-image {
  background-color: #8b98a7;
  background-image: url(../img/keyboard2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 2rem 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-snap-align: start;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-logo {
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #303131;
  text-decoration: none;
}

.footer-rights {
  color: #303131;
  text-align: center;
  padding: 0 0.5rem;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  padding: 0.5rem;
}

.footer-social-link {
  font-size: 1.5rem;
  color: #303131;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=style.css.map */